@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    @apply scroll-smooth
}
.Card{
    @apply w-48 h-64 shadow-md rounded-lg flex-none transition-all hover:-translate-y-4 hover:shadow-xl
}
.CardTitle{
    @apply text-3xl font-semibold text-white px-8 pt-8 pb-2
}
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}